# Python files and folders
__pycache__/
*.py[cod]
*$py.class

# DIstribution / packaging
.Python
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
*.egg

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VScode files
.vscode/

# DB-Related files and folders
old_data_sql/
old_db/
data/old/
dataOldDb/
dataOldDB/
csvCatalog/
csvClassification/
Biblioteca_Test_JDBC.odb
BibliotecaPersonal.mdb
mysql-pwd
output.txt
all_books.csv
allBooks.csvs

# String connections! It is a no-no!
*.ini